@namespace CarStoreManager.Web.Components
@using Microsoft.AspNetCore.Components.Routing

<div class="workspace">

    <NavLink href="/concessionaria" class="tab">
        Concessionária
    </NavLink>

    <NavLink href="/oficina" class="tab">
        Oficina
    </NavLink>

</div>