@namespace CarStoreManager.Web.Components
@using CarStoreManager.Application.DTOs

@if (Veiculo is null)
{
    <div class="box">
        <p>Erro ao carregar Imagem</p>
    </div>
}
else
    {
    <div class="box">
        <p>Valor: @Veiculo.Valor</p>
        <p>Status: @(Veiculo.Disponivel ? "Disponível" : "Vendido")</p>
        <p>Financiamento: Sim</p>
    </div>
}

@code {
    [Parameter] public VeiculoDTO? Veiculo { get; set; }
}