.workspace {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}

.conteudo-central {
    display: flex;
    height: 70%;
    gap: 20px;
}

.lado-esquerdo,
.centro,
.lado-direito {
    border: 2px solid black;
    padding: 20px;
}

.lado-esquerdo {
    width: 25%;
}

.centro {
    width: 50%;
}

.lado-direito {
    width: 25%;
}

.botoes {
    display: flex;
    justify-content: space-between;
}